<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Language - Vocabularies</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <header>
        <p>Vocabularies</p>
    </header>

    <section>
        <article>
            <div class="head flex">
                <p>New Language</p>
                <a href="/" class="back">Back</a>
            </div>

            <div class="body">
                <form method="post" class="form-new-lang">
                    <input type="text" name="language" placeholder="german, english, french" required class="input-text">
                    <input type="submit" value="Add" class="input-submit">
                </form>
            </div>
        </article>
    </section>
    
</body>
</html>